doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Language" content="ja")
    meta(name="google" content="notranslate")
    //- 上2つの meta 要素はhtml要素で日本語を設定しても、翻訳するかどうかと聞かれたので追加
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    title 潜水艦ゲーム・改
  body
    .container
      //- 全体的に、なるべくレスポンシブなデザインになるようなクラス付けをした。
      nav.navbar.navbar-expand-md.navbar-light.bg-light
        if displayName
          - const encodedDisplayName = encodeURIComponent(displayName);
          - const encodedThumbUrl = encodeURIComponent(thumbUrl);
          //- 表示名がある場合、再ログインや名前再設定が必要ないようにした
          a.navbar-brand(href=`/?name=${encodedDisplayName}&icon=${encodedThumbUrl}`)
            img.d-inline-block.align-text-top(src="images/titleLogo.png" alt="潜水艦ゲーム・改" width="30" height="30")
            | 潜水艦ゲーム・改
        else
          a.navbar-brand(href="/")
            img.d-inline-block.align-text-top(src="/images/titleLogo.png" alt="潜水艦ゲーム・改" width="30" height="30")
            | 潜水艦ゲーム・改
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .justify-content-end.collapse.navbar-collapse#navbar
          ul.navbar-nav
            li.nav-item
              .d-lg-inline-flex.d-md-flex
                a.text-light.btn.btn-success.nav-link.active.my-3.my-md-0.text-nowrap(role="button"
                data-bs-toggle="modal" data-bs-target="#howToPlay") 遊び方はこちら
      #howToPlay.modal.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-lg
          .modal-content
            .modal-header
              h5#howToPlay.modal-title 遊び方
              button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.bg-transparent
              .container-fluid
                h3.mb-3 操作方法
                //- 項目の見出しは左揃えの方が見やすいと感じたため
                .row.mb-5.text-center
                  .col
                    p 矢印キーで移動できます
                      br
                      | （長押し不要）
                      img.img-fluid.rounded(src="/images/instructions/howToMove.gif" alt="押した矢印キーの方向に動く")
                  .col
                    p.text-nowrap スペースキーで魚雷を発射します
                      br
                      | （長押し不要）
                      br
                      img.img-fluid.rounded(src="/images/instructions/emitMissile.gif" alt="自機が向いている方向に向かって発射")
                h3.mb-3 アイテムについて
                .row.mb-5.text-center
                  .col 
                    p フィールド上に散らばっている
                      br
                      span.text-info 水色
                      | の丸が空気、
                      span.text-danger 赤色
                      | の球が魚雷です
                      br
                      img.img-fluid.rounded(src="/images/instructions/items.png" alt="")
                      //- 文字の説明のみで十分であり、あまり重要でないと判断したため、 alt 属性は空文字列にした。
                .row.mb-5.text-center
                  .col 
                    p.text-wrap 空気を取ると、自機の残酸素数が30ほど増えます
                      br
                      img.img-fluid.rounded(src="/images/instructions/getAir.gif" alt="残酸素数が50から80というように増える")
                  .col
                    p.text-wrap また、魚雷を取ると、
                      br
                      | 自機が使える魚雷の数が1個増えます（上限6個）
                      br
                      img.img-fluid.rounded(src="/images/instructions/getMissile.gif" alt="")
                      //- 文字の説明のみで十分であり、あまり重要でないと判断したため、 alt 属性は空文字列にした。
                h3.mb-3 敵プレイヤーについて
                .row.mb-5.text-center
                  .col 
                    p.text-nowrap フィールド上の
                      span.text-primary 青の波紋
                      | は
                      br
                      | 敵プレイヤー、
                      span.text-danger 赤の波紋
                      | は敵プレイヤー
                      br
                      | が放った魚雷を表します
                      br
                      img.img-fluid.rounded(src="/images/instructions/enemies.png" alt="")
                      //- 文字の説明のみで十分であり、あまり重要でないと判断したため、 alt 属性は空文字列にした。
                  .col
                    p.text-wrap また、「NPC」という名前でロボットのアイコンの
                      br
                      //- いろいろ試して、最も適切そうな場所で改行を入れた
                      | プレイヤーはコンピュータです
                      br
                      img.img-fluid.rounded(src="/images/instructions/npc.png" alt="")
                      //- 文字の説明のみで十分であり、あまり重要でないと判断したため、 alt 属性は空文字列にした。
                h3.mb-3 ゲームオーバーの条件など
                .row.mb-3.text-center
                  .col 
                    p.text-wrap 魚雷を敵プレイヤーに命中させると、敵を倒すことができます！
                      br
                      img.img-fluid.rounded(src="/images/instructions/killEnemy.gif" alt="一発命中させると、倒すことができる")
                  .col.text-wrap
                    p 反対に、自機も敵が放った魚雷を1回でもくらうと
                      br
                      //- いろいろ試して、最も適切そうな場所で改行を入れた
                      | ゲームオーバーになります
                      br
                      img.img-fluid.rounded(src="/images/instructions/killedByEnemy.gif" alt="")
                      //- 文字の説明のみで十分であり、あまり重要でないと判断したため、 alt 属性は空文字列にした。
                .row.mb-5.text-center
                  .col 
                    p.text-wrap また、自機の残酸素数が尽きてもゲームオーバーになります
                      br
                      img.img-fluid.rounded(src="/images/instructions/anoxically.gif" alt="残酸素数が0になるとゲームオーバー")
                h3.mb-3 ゲーム時の画面について
                .row.mb-5
                  .col
                    img.img-fluid.img-thumbnail.mb-3(src="/images/instructions/playing.png" alt="ゲーム画面")
                    h5.text-center 説明
                    p.text-center （ウインドウの大きさにより、配置が異なる場合があります）
                    - 
                      const explanations = [
                        '① ゲーム画面', '② あなたの名前とアイコン', '③ あなたの残酸素量',
                        '④ あなたのミサイル所持数', '⑤ あなたの獲得スコア', '⑥ リアルタイムのランキング',
                        '（ページを離れるかゲームオーバーになると、', 'ランキングから除外されます）'
                        ]; 
                    - let loopCounter = 0;
                    each explain in explanations
                      - loopCounter += 1;
                      if loopCounter < 6
                        p #{explain}
                      else
                        span #{explain}
                        br
                        //- 説明の文章は、中央揃えにすると見づらいためあえて左揃えに
                h4
                  img.img-fluid(src="/images/instructions/tips.png" alt="" width="20" height="20")
                  //- 装飾として使用しているため、不必要だと判断したため、alt 属性は空文字列にした。
                  |  Tips
                  //- ゲームの遊び方説明と少しそれるので h4 にして一回り小さく
                .row.mb-5.text-center
                  .col
                    p スコアを一番稼げるのは・・・
                      br
                      | アイテムを拾ったり使ったりして確かめてみよう！
                    p 敵が放った魚雷に向かって魚雷を撃つと・・・
                      br
                      | どうなるかは試してからのお楽しみ！
            .modal-footer
              button.btn.btn-secondary(type="button" data-bs-dismiss="modal") 閉じる
      
      block content

      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.mt-5.mb-3.border-top
        .col-md-4.d-flex.align-items-center
          a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href="https://github.com/Udon-japanese")
            span.mb-3.mb-md-0.text-muted © 2023 Udon-japanese
        span.nav.col-md-4.justify-content-end.list-unstyled.d-flex
          a.ms-3.text-muted(href="https://github.com/Udon-japanese/submarine-online")
            img.img-fluid(src="/images/github.png" alt="GitHub ロゴ" width="35" height="35")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")